{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>


{% block content %}
<h1 id="recipe-title-instructions">{{ recipe.title }}</h1>
<img src="{{ recipe.image }}" alt="{{ recipe.title }}">
<p>Calories: {{ recipe.calories }}</p>
<p>Protein: {{ recipe.protein }}</p>
<p>Fat: {{ recipe.fat }}</p>

<h2 id="recipe-instructions-header">Instructions</h2>
<ol>
{% for instruction in instructions %}
    <li id="recipe-instructions-step">
        <p ><strong>Step {{ instruction.number }}:</strong> {{ instruction.step }}</p>

    {% if instruction.equipment %}
        
        <p >Equipment: {{ instruction.equipment }}</p>

    {% endif %}
        <ul id="recipe-instructions-step">
            {% for ingredient in instruction.ingredients %}
                {% if ingredient.image %}
                    <li>{{ ingredient.name }} <img src="{{ ingredient.image }}" alt="{{ ingredient.name }}" style="height: 50px;"></li>
                {% else %}
                    <li style="padding-top: 30px ;">{{ingredient.name}}  </li>
                {% endif %}
            {% endfor %}
        </ul>
        <br>
    </li>


{% endfor %}
</ol>

{% if Comments %}
<footer>
    <h2> Additional Comments: </h2>
   <p> {{ Comments }} </p>
</footer>

{% endif %}
{% endblock %}









